html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr,
dialog {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: '微软雅黑';
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	background: #fff;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:focus {
	outline: none
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

img {
	border: 0px;
}

.clear {
	clear: both;
}

.tr {
	text-align: right;
}

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.mt30 {
	margin-top: 30px;
}


.content {
	width: 1200px;
	margin: 0 auto;
}

.bg {
	width: 100%;
	min-width: 1200px;
	background: #fafafa;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

#main {
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}


/* header*/

.header {
	width: 100%;
	min-width: 1200px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(44, 69, 96, 0.9);
	height: 83px;
	z-index: 99999;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.nav-logo {
	float: left;
	background: url(../img/unitLog.png) left center no-repeat;
	background-size:60px 60px ;
	width: 230px;
	height: 83px;
}

.nav-list {
	float: left;
	margin-left: 70px;
	margin-top: 26px;
}

.nav-list li {
	display: block;
	float: left;
	width: 90px;
	height: 30px;
	margin-right: 5px;
	text-align: center;
}

.nav-list li a {
	font-size: 16px;
	color: #b3b3b3;
	display: block;
	line-height: 30px;
	cursor: pointer;
}

.nav-list li:hover a {
	background: #0079ff;
	color: #fff;
}

.nav-list .currLi {
	background-color: #0079ff;
	color: #fff;
}
.contact {
	width: 265px;
	float: right;
	height: 34px;
	margin-top: 25px;
	display: flex;
	align-items: center;
}

.contact .qq {
	float: left;
	height: 34px;
	background: url(../img/top_qq.png) left center no-repeat;
	background-size: 34px 34px;
	font-size: 16px;
	line-height: 34px;
	padding-left: 40px;
	color: #c2c2c2;
	padding-right: 2px;
}

.contact .qq:hover {
	background: url(../img/top_qq_b.png) left center no-repeat;
	background-size: 34px 34px;
	color: #0079ff;
}

.contact .tel {
	float: left;
	height: 34px;
	background: url(../img/top_tel.png) left center no-repeat;
	background-size: 34px 34px;
	font-size: 16px;
	line-height: 34px;
	padding-left: 38px;
	color: #c2c2c2;
	cursor: pointer;
}

.contact .tel:hover {
	height: 34px;
	background: url(../img/top_tel_b.png) left center no-repeat;
	color: #0079ff;
}


/*hot*/

.hot {
	width: 30px;
	height: 17px;
	background: url(../images/hot.gif) no-repeat;
	display: block;
	position: absolute;
	z-index: 10;
	margin-left: 66px;
	color: #fff;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	margin-top: 18px;
}


/*底部*/

.footer {
	width: 100%;
	min-width: 1200px;
	display: block;
	overflow: hidden;
	background: #264364;
}

.footer .footer_m {
	padding: 60px 0;
	width: 1200px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.footer_l {
	width: 599px;
	float: left;
	border-right: 1px solid #516983;
}

.footer_l label {
	font-size: 24px;
	color: #fff;
}

.footer_l .footer_inp {
	display: block;
	width: 485px;
	padding-left: 15px;
	height: 35px;
	border: 1px solid #516983;
	outline: none;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	margin: 10px 0;
	background: none;
}

.footer_l textarea {
	display: block;
	width: 470px;
	height: 120px;
	padding: 15px;
	border: 1px solid #516983;
	outline: none;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
	margin: 10px 0;
	background: none;
}

.footer_l .footer_btn {
	display: block;
	width: 118px;
	height: 38px;
	background: #0079ff;
	border-radius: 4px;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
	border: none;
	margin-left: 384px;
	outline: none;
	margin: 20px 0 10px 384px;
	cursor: pointer;
}

.footer_r {
	width: 500px;
	padding-left: 100px;
	float: right;
}

.footer_r h3 {
	font-size: 24px;
	color: #fff;
	font-weight: normal;
}

.footer_r p {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	padding: 15px 5px;
	border-top: 1px solid #516983;
	border-bottom: 1px solid #516983;
	margin-top: 20px;
}

.footer_r img {
	padding-top: 15px;
	padding-left: 5px;
	display: block;
}

.footer_r span {
	padding-top: 80px;
	font-size: 12px;
	color: #fff;
	padding-right: 30px;
	display: block;
	float: left;
}

.footer_r p a {
	font-size: 14px;
	color: #fff;
}

.footer_r p a:hover {
	color: #fff;
}


/*top css*/
















