.tech_list{
	width: 1200px;
	max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 95px;
    display: block;
    overflow: hidden;
    border-top: 90px solid transparent;
}
	.tech_border-bot{
			border-bottom: 4px solid red;
			margin-top: 5rem;
	}
	.tech_list .span{
		font-size: 1.6rem;
		position: absolute;
		top: 9rem;
	}
	.tech_list .first_product a{
		font-size: 1.1rem;
		float: right;
		margin: 0.5rem 0 0 0;
		color: #0079FF;
	}
/*ul li*/
.tech_list ul{
	width: 74.7rem;
	height: 60rem;
}
	.tech_list ul li{
		margin: 0 1rem 0 2.8rem;
		float: left;
		height: 12rem;
		display: block;
	}
	.tech_list ul li:nth-child(9n) {
		margin-left: 2.9rem;
	}
	.tech_list ul li:nth-child(10n) {
		margin-left: 2.9rem;
	}
	.tech_list ul li:nth-child(11n) {
		margin-left: 2.9rem;
	}
	.tech_list ul li:nth-child(12n) {
		margin-left: 2.7rem;
	}
	.tech_list ul li:nth-child(13n) {
		margin-left: 2.8rem;
	}
		.tech_list ul li .tech_texts{
			/*position: absolute;
			top: 38.5rem;*/
			text-align: center;
			height: 3rem;
			position: relative;
			top: -14.5rem;
		}
			.tech_texts .tech_titles {
				color: #2a5d84;
				font-size: 1.3rem;
			}
			.tech_texts p{
				font-size: 1rem;
				text-align: center;
			}
/*双重正六边形制作*/
.boxF1, .boxS1, .boxT1, .overlay1
        {
        	
            width: 90px;
            height: 270px;
            overflow: hidden;
            
        }
        .boxF1, .boxS1
        {
            visibility: hidden;
        }
        .boxF1
        {
            transform: rotate(120deg);
            float: left;
            margin-left: 10px;
            -ms-transform: rotate(120deg);
            -moz-transform: rotate(120deg);
            -webkit-transform: rotate(120deg);
            position: relative;
            left: -0.9px;
            top: -164.7px;
        }
        .boxS1
        {
            transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -webkit-transform: rotate(-60deg);
        }
        .boxT1
        {
            transform: rotate(-60deg);
            background: no-repeat 50% center;
            background-size: 125% auto;
            -ms-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -webkit-transform: rotate(-60deg);
            visibility: visible;
        }
#hexagon {
    width: 110px;
    height: 64px;
    background: #2a5d84;
    position: relative;
    top: 60px;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -31px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 31px solid #2A5D84;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 31px solid #2a5d84;
}
#hexagon2 {
    width: 99px;
    height: 58px;
    background:white;
    position: relative;
    top: -0.6px;
    left: 5px;
}
#hexagon2:before {
    content: "";
    position: absolute;
    top: -29px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 29px solid white;
}
#hexagon2:after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 29px solid white;
}
/*圆形*/
.all_list{
	width: 110px;
	height: 110px;
	border: 4px solid #2a5d84;
	border-radius: 100px;
	margin: 2rem 0 0 0 ;
}
.radios{
	width: 100px;
	height: 100px;
	border-radius:100px;
	position: relative;
	top: -109px;
	left: 8.5px;
}
/*ul li*/
	.tech_list ul li{
		margin: 0 1rem 0 2.2rem;
		float: left;
		height: 12rem;
		display: block;
	}
	.tech_texts_radio{
		margin-top: -6rem;
		text-align: center;
	}
	.tech_texts_radio .tech_titles_radio {
		color: #2a5d84;
		font-size: 1.3rem;
	}
	.tech_texts_radio p{
		font-size: 1rem;
		text-align: center;
	}
